.faq-container {
    max-width: 600px;
}

body {
    display: grid;
    place-items: center;
    font-family: "Work Sans", sans-serif;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }