.faq-container {
    max-width: 600px;
    padding: 2.5rem;
}

body {
    display: grid;
    place-items: center;
    font-family: "Work Sans", sans-serif;
}

h1 {
    font-weight: bold;
    font-size: 3.5rem;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }