:root {
    --white: hsl(0, 0%, 100%);
    --light-pink: hsl(275, 100%, 97%);
    --purple-grey: hsl(292, 16%, 49%);
    --purple-dark: hsl(292, 42%, 14%);
    --grey-light: hsl(0, 0%, 96%);
    --saturated-purple: hsl(281, 88%, 56%);
}

body {
    display: grid;
    place-items: center;
    font-family: "Work Sans", sans-serif;
    background-color: var(--light-pink);
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

.bg-img {
    top: 0;
    position: absolute;
    z-index: -1;
    max-height: 20rem;
    height: 30vh;
}

.faq-container {
    max-width: 600px;
    padding: 2.5rem;
    border-radius: 1rem;
    margin: 1.5rem;
    background-color: var(--white);
    box-shadow: 0px 2px 1px rgba(109, 34, 129, 0.01),
                0px 6px 5px rgba(109, 34, 129, 0.02),
                0px 14px 12px rgba(109, 34, 129, 0.04),
                0px 26px 20px rgba(109, 34, 129, 0.05),
                0px 40px 32px rgba(109, 34, 129, 0.06);
}

.faq-heading {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.star-icon-wrapper {
    height: 2.5rem;
    width: 2.5rem;
    display: grid;
    place-items: center;
}

.star-icon {

}



h1 {
    font-weight: 700;
    font-size: 3.5rem;
    color: var(--purple-dark);
    margin: 0;
}

h2 {
    font-size: 18px;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
}

p {
    color: var(--purple-grey);
}



@media screen and (max-width: 680px) {
    
    body {
        .faq-container {
        padding: 1.5rem;
        border-radius: 0.5rem;
        }

        .accordion-header {
            padding: 24px 0px 24px 0;
        }

        .star-icon-wrapper {
            width: 1.5rem;
            height: 1.5rem;
        }

        .accordion-content p {
            margin-bottom: 20px;
          }

        .star-icon {
            width: 1.5rem;
            height: 1.5rem;
        }
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1rem;
    }

    p {
        font-size: 0.875rem;
    }
    
  }

/*

.accordion {
    border-bottom: 1px solid var(--grey-light);
}

.accordion-header {
    padding: 28px 0 28px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: 300ms all ease-in-out;
}

.accordion-header:hover {
    color: var(--saturated-purple);
}

.accordion-icon {
    height: 1.5rem;
    width: 1.5rem;
    display: grid;
    place-items: center;
    background-color: var(--saturated-purple);
    border-radius: 1.5rem;
    color: var(--white);
}

.accordion-contents {
    margin-bottom: 1.5rem;
    color: var(--purple-grey);
}







button.accordion {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    text-align: left;
    padding: 28px 0 28px 0;
    font-size: 18px;
    font-family: 'Work Sans';
    cursor: pointer;
    transition: background-color 0.2s linear;
    display: flex;
    justify-content: space-between;
  }
  
  button.accordion:after {
    font-family: FontAwesome;
    content: "\f150";
    font-family: "fontawesome";
    font-size: 18px;
    float: right;
  }
  
  button.accordion.is-open:after {
    content: "\f151";
  }
  
  button.accordion:hover,
  button.accordion.is-open {
    color: var(--saturated-purple);
  }
  
  .accordion-content {
    background-color: transparent;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
  }
  

*/

/*






.accordion {
    max-width: 300px;
    background: linear-gradient(to bottom right, #FFF, #f7f7f7);
    background: #0097a7;
    margin: 0 auto;
    border-radius: 3px;
    box-shadow: 0 10px 15px -20px rgba(0, 0, 0, 0.3), 0 30px 45px -30px rgba(0, 0, 0, 0.3), 0 80px 55px -30px rgba(0, 0, 0, 0.1);
}
.heading {
    color: #FFF;
    font-size:14px;
    border-bottom: 1px solid #e7e7e7;
  letter-spacing: 0.8px;
    padding: 15px;
    cursor: pointer;  
}
.heading:nth-last-child(2){
    border-bottom:0; 
}
.heading:hover {
    background: #00838f;
    border-radius: 0;
}
.heading:first-child:hover {
    border-radius: 3px 3px 0 0;
}
.heading:nth-last-child(2):hover{
    border-radius:0 0 3px 3px;
}
.heading::before {
    content: '';
    vertical-align: middle;
    display: inline-block;
    border-top: 7px solid #f5f5f5;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    float: right;
    transform: rotate(0);
    transition: all 0.5s;
    margin-top: 5px;
}
.active.heading::before {
    transform: rotate(-180deg);
}
.not-active.heading::before {
    transform: rotate(0deg);
}
.contents {
  display: none;
  background: #FFFAFA;
  padding: 15px;
    color: #7f8fa4;
    font-size: 13px;
    line-height: 1.5;
}

*/

.accordion-header {
    background-color: transparent;
    border: none;
    text-align: left;
    padding: 28px 0px 28px 0;
    width: 100%;
    cursor: pointer;
    position: relative;
    color: var(--purple-dark);
    transition: all 200ms ease-in-out;
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;

  }
  
  .accordion-header:hover, .accordion-header.active:hover {
    color: var(--saturated-purple);
    
  }

  .accordion-header:focus, .accordion-header.active {
    color: var(--purple-dark);
    
  }
  
  .accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    background-color: transparent;
    padding: 0;
  }

  .accordion-content p {
    margin-top: 0;
    margin-bottom: 24px;
    line-height: 150%;
  }
  
  .accordion-header.active + .accordion-content {
    max-height: 150px; /* Adjust as needed */
  }
  
  .accordion-header .icon {
    height: 1.5rem;
    width: 1.5rem;
    display: grid;
    place-items: center;
    background-color: var(--saturated-purple);
    transition: all 600ms ease-in-out;
    color: var(--white);
    border-radius: 1.5rem;
    background-image: url(assets/images/plus-icon-no-bg.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    transform: rotate(-90deg);
    line-height: 1;
    flex-shrink: 0;

  }
  
  .accordion-header.active .icon {
    background-image: url(assets/images/minus-icon-no-bg.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-color: var(--purple-dark);
    transform: rotate(0);
  }
  
.divider {
    height: 1px;
    width: 100%;
    background-color: var(--grey-light);
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }